head
    title falkor
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name="msapplication-TileColor" content="#000000")
    meta(name="theme-color" content="#000000")
    link(rel='stylesheet' type='text/css' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.css')
    // link(href="https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000")

    script(src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.4/dist/semantic.min.js')
    
    //- script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-140259454-1')
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-HEGZBTNSYF")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-HEGZBTNSYF');

    
    
    
template(name='session_icon_button')
    .ui.icon.button
        +i name=icon
        i.large.icon(class=icon)
template(name='session_set')
    .ui.icon.button
        +i name=icon
template(name='print_this')
    .ui.icon.button
template(name='sort_direction_toggle')
    .ui.icon.button
        +i name='sort'
template(name='i')
    i.large.icon(class=icon)
  
  
  
body 
    +posts