template(name='nav')
    // #topnav.topnav.ui.attached.borderless.big.four.item.menu.hscroll(class=darkmode_class)
        https://fomantic-ui.com/elements/icon.html#/icon
    // #topnav.topnav.ui.attached.borderless.big.menu.hscroll(style="background-color:#{currentUser.theme_color_main}")
    #topnav.topnav.ui.attached.borderless.four.item.menu.hscroll
        unless subs_ready
            .icon.item
                i.yin.yang.large.loading.icon
        if is_connected
            if subs_ready
                // a.item.mobile.only(href="/search" title='global search')
                //     i.search.large.icon
                // .item.mobile.hidden
                //     .ui.icon.input
                //         i.search.icon
                //         input.global_search(type='text' placeholder='search...')
                a.item.zoomer.fly_right.clear_search.mobilehidden(href="/posts" class="{{isActiveRoute regex='post'}}" title='posts')
                    // +i name='news'
                    i.large.newspaper.icon
                    // unless currentUser.hide_labels
                    //     |posts
                a.item.zoomer.fly_right.clear_search.mobilehidden(href="/users" class="{{isActiveRoute 'users'}}" title=users)
                    // +i name='groups'
                    i.large.users.icon
                    // unless currentUser.hide_labels
                    //     |users
                a.item.zoomer.fly_right.clear_search.mobilehidden(href="/groups" class="{{isActiveRoute regex='group'}}" title='groups')
                    // +i name='campfire'
                    i.large.fire.icon
                    // unless currentUser.hide_labels
                    //     |groups
                a.item.zoomer.fly_right.clear_search.mobilehidden(href="/comments" class="{{isActiveRoute regex='group'}}" title='comments')
                    // +i name='campfire'
                    i.large.chat.outline.icon
                    // unless currentUser.hide_labels
                    //     |comments
        unless is_connected
            a.item.zoomer.reconnect
                i.yin.yang.big.loading.icon
                +i name='disconnected'
                |relink
                i.large.circular.refresh.link.icon.zoomer.reconnect(title='reconnect now')
                            


template(name='nav_item')
    a.item.zoomer.fly_right.clear_search.go_route.tada.mobile.hidden(href="/m/#{key}" class="{{nav_item_class key}}" title=key)
        // +i name=icon
        i.large.icon(class=icon)
        // unless currentUser.hide_labels
        //     |#{key}s
