template(name='music')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                +i name='music'
                |#{music_count} artists
            if current_search 
                i.large.red.link.remove.icon.clear
            .ui.large.input 
                input.artist_search(type='text' placeholder='search artist...' value=current_search)
            +i name='database'
            each picked_models
                button.ui.blue.compact.button.unpick_model(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each model_results
                button.ui.compact.button.pick_model(tabindex="0" class=result_class title=count)
                    if is name 'artist'
                        +i name='artist'
                    else if is name 'album'
                        +i name='database'
                    |#{name}
                    // small #{count}
            +i name='tags'
            each picked_music_tags
                button.ui.blue.compact.button.unpick_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each music_tag_results
                button.ui.compact.button.pick_music_tag(tabindex="0" class=result_class title=count)
                    |#{name}
                    // small #{count}

            .ui.inline.small.header
                .ui.small.inline.header
                    +i name='music'
                    |#{genre_results.count} genres
                each picked_genres
                    button.ui.blue.compact.button.unpick_genre(tabindex='0')
                        //- i.remove.icon
                        | #{this}
                each genre_results
                    if name
                        button.ui.compact.button.pick_genre(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
            .ui.inline.small.header
                +i name='artist'
                |#{style_results.count} styles
            each picked_styles
                button.ui.blue.compact.button.unpick_style(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each style_results
                if name
                    button.ui.compact.button.pick_style(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
            .ui.inline.small.header
                +i name='happy'
                |#{mood_results.count} moods
            each picked_moods
                button.ui.blue.compact.button.unpick_mood(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each mood_results
                if name
                    button.ui.compact.button.pick_mood(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
        .sixteen.wide.column
            unless one_result
                .ui.inline.header(title='result count') #{result_docs.count}
                // +search_input key='title'
                +session_icon_button key='view_mode' value='grid' icon='grid' 
                +session_icon_button key='view_mode' value='list' icon='list'
                
                +sort_direction_toggle
                // +sort_key_toggle
                +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                +session_set key='sort_key' value='points' label='points' icon='hashtag'
                +session_set key='sort_key' value='views' label='views' icon='eye'
                +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
                // +session_set key='limit' value=10
                // +session_set key='limit' value=25
                // +session_set key='limit' value=100
            .ui.hidden.divider
            if subs_ready
                if session_is 'view_mode' 'grid'
                    .ui.stackable.cards.scrolling
                        if one_result
                            .ui.one.cards
                                each music_docs 
                                    +music_card
                        else
                            .ui.cards
                                each music_docs 
                                    +music_card
                else
                    .ui.large.list 
                        each music_docs 
                            +music_item
            else 
                .ui.center.aligned.basic.segment
                    i.massive.yin.yang.loading.grey.icon
            // .ui.inline.header search songs
            // .ui.input 
            //     input(type='text' placholder='song...')
            // .ui.list 
            //     each song_docs 
            //         .ui.header #{title}
            // .ui.inline.header search albums
            // .ui.input 
            //     input(type='text' placholder='album...')
            // .ui.list 
            //     each album_docs 
            //         .ui.header #{title}
            

template(name='music_card')
    if is model 'album'
        +album_card
    else if is model 'artist'
        +artist_card
        
        
template(name='artist_card')
    // a.card.fly_right.zoomer.rounded(href="/music/artist/#{_id}" title='view artist' class=mood_class)
    a.card.fly_right.zoomer.rounded(href="/music/artist/#{_id}" title='view artist' class=mood_class)
        .ui.fade.reveal.image.rounded
            .visible.content
                img.ui.image.invert(src=strArtistThumb)
            .hidden.content
                img.ui.image.invert(src=strArtistFanart)
        .content
            img.ui.image(src=strArtistLogo title=strArtist)
            .description
                +mood_icon
                if strGenre
                    .ui.basic.label
                        +i name='music'
                        |#{strGenre}
                if strStyle
                    .ui.basic.label
                        +i name='artist'
                        |#{strStyle}
                if strMood
                    .ui.basic.label
                        +i name='happy'
                        |#{strMood}
                each five_tags
                    .ui.basic.label #{this}
                .ui.basic.label
                    i.plus.grey.icon
                    | #{_when}
                if points
                    .ui.basic.label
                        |#{points}pts
                if views
                    .ui.basic.label
                        i.eye.grey.icon
                        |#{views}
                .ui.label #{model}
                
                
                
template(name='album_card')
    a.card.fly_right.zoomer.rounded(href="/music/album/#{_id}" title='view artist' class=mood_class)
        .ui.fade.reveal.image.rounded
            .visible.content
                img.ui.image.invert(src=strAlbumThumb)
            .hidden.content
                img.ui.image.invert(src=strAlbumThumbBack)
        .content
            img.ui.image(src=strAlbumCDart title=strAlbum)
            .description
                .header #{strAlbum}
                +mood_icon
                if strGenre
                    .ui.basic.label
                        +i name='music'
                        |#{strGenre}
                if strStyle
                    .ui.basic.label
                        +i name='artist'
                        |#{strStyle}
                if strMood
                    .ui.basic.label
                        +i name='happy'
                        |#{strMood}
                each five_tags
                    .ui.basic.label #{this}
                .ui.basic.label
                    i.plus.grey.icon
                    | #{_when}
                if points
                    .ui.basic.label
                        |#{points}pts
                if views
                    .ui.basic.label
                        i.eye.grey.icon
                        |#{views}
                .ui.label #{model}
                        
                        
template(name='music_item')
    if is model 'album'
        +album_item
    else if is model 'artist'
        +artist_item
template(name='artist_item')
    a.item.fly_right.zoomer.rounded(href="/music/artist/#{_id}" title='view artist' class=mood_class)
        img.ui.small.inline.image(src=strArtistThumb)
        if strArtistLogo
            img.ui.small.inline.image(src=strArtistLogo title=strArtist)
        // .ui.fade.reveal.image.rounded
        //     .visible.content.invert
        //     .hidden.content.invert
        //         img.ui.image(src=strArtistFanart)
        +mood_icon
        if strGenre
            .ui.basic.label
                +i name='music'
                |#{strGenre}
        if strStyle
            .ui.basic.label
                +i name='artist'
                |#{strStyle}
        if strMood
            .ui.basic.label
                +i name='happy'
                |#{strMood}
        each five_tags
            .ui.basic.label #{this}
        .ui.basic.label
            i.plus.grey.icon
            | #{_when}
        if points
            .ui.basic.label
                |#{points}pts
        if views
            .ui.basic.label
                i.eye.grey.icon
                |#{views}
                        
template(name='album_item')
    a.item.fly_right.zoomer.rounded(href="/music/album/#{_id}" title='view artist' class=mood_class)
        img.ui.small.inline.image(src=strAlbumThumb)
        if strAlbumThumbBack
            img.ui.small.inline.image(src=strAlbumThumbBack title=strArtist)
        .ui.inline.header #{strAlbum}
        // .ui.fade.reveal.image.rounded
        //     .visible.content.invert
        //     .hidden.content.invert
        //         img.ui.image(src=strArtistFanart)
        +mood_icon
        .ui.label 
            |#{model}
        if strGenre
            .ui.basic.label
                +i name='music'
                |#{strGenre}
        if strStyle
            .ui.basic.label
                +i name='artist'
                |#{strStyle}
        if strMood
            .ui.basic.label
                +i name='happy'
                |#{strMood}
        each five_tags
            .ui.basic.label #{this}
        .ui.basic.label
            i.plus.grey.icon
            | #{_when}
        if points
            .ui.basic.label
                |#{points}pts
        if views
            .ui.basic.label
                i.eye.grey.icon
                |#{views}
                        
                        
template(name='mood_icon')  
    if mood_icon_class
        span(title="#{strMood} mood")
            +i name=mood_icon_class
                        

template(name='music_artist')
    with current_artist 
        if strArtistBanner
            img.ui.image.profile_banner(src=strArtistBanner)
        .ui.stackable.padded.grid 
            .eight.wide.column.scrollin
                a.ui.fluid.button.fly_left(href='/music')
                    i.chevron.left.icon
                    +i name='music'
                    |music
                img.ui.image(src=strArtistLogo)
                .ui.three.column.stackable.grid 
                    .column
                        img.ui.image.rounded.zoomer.invert(src=strArtistThumb)
                    .column
                        img.ui.image.rounded.zoomer.invert(src=strArtistWideThumb)
                    if strArtistCutout
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistCutout)
                    if strArtistClearart
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistClearart)
                    if strArtistFanart
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistFanart)
                    if strArtistFanart2
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistFanart2)
                    if strArtistFanart3
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistFanart3)
                    if strArtistFanart4
                        .column
                            img.ui.image.rounded.zoomer.invert(src=strArtistFanart4)
                            
                .ui.header views: #{views}
                +voting_full
                div
                +i name='tags'
                each tags 
                    a.ui.large.basic.link.label.zoomer.invert.pick_music_tag(title='browse tag') #{this}
                +print_this
            .eight.wide.column.scrollin
                .ui.massive.inline.header #{strArtist}
                // "strMusicBrainzID": "c8b03190-306c-4120-bb0b-6f2ebfc06ea9",
                // "strISNIcode": null,
                // "strLastFMChart": "http://www.last.fm/music/The Weeknd/+charts?rangetype=6month",
                if strLastFMChart
                    a.ui.big.basic.button.zoomer(href=strLastFMChart target='_window' title='last fm')
                        +i name='lastfm'
                        |last fm page
                // if strFacebook
                //     a.ui.big.basic.compact.button.zoomer(href=strFacebook target='_window' title='view facebook profile')
                //         +i name='facebook'
                // if strTwitter
                //     a.ui.big.basic.compact.button.zoomer(href=strTwitter target='_window' title='view twitter page')
                //         +i name='twitter'

                // .item #{strArtistStripped}: strArtistStripped
                if strArtistAlternate
                    .ui.large.basic.label alternate name: #{strArtistAlternate}
                if strLabel
                    .ui.large.basic.label label: #{strLabel}
                // .ui.large.basic.label #{idLabel}: idLabel
                if intFormedYear
                    .ui.large.basic.label
                        i.clock.icon
                        |formed: 
                        |#{intFormedYear}-
                // if intBornYear
                //     .ui.large.basic.label born #{intBornYear}
                if intDiedYear
                    .ui.large.basic.label(title='died')
                        +i name='death'
                        | #{intDiedYear}
                if strDisbanded
                    .ui.large.basic.label disbanded #{strDisbanded}
                if strCountry
                    .ui.large.basic.label
                        +i name='marker'
                        |#{strCountry}
                .ui.large.basic.label 
                    +i name='artist'
                    |style: #{strStyle}
                a.ui.large.basic.label.zoomer.pick_genre
                    +i name='music'
                    |#{strGenre}
                a.ui.large.basic.label.zoomer.pick_mood
                    +i name='happy'
                    |mood: #{strMood}
                .ui.large.basic.label
                    a(href=strWebsite target='_window')
                        |#{strWebsite}
                .ui.large.basic.label
                    // a(href=strWebsite target='_window')
                    |#{strMusicBrainzID}
                .f6.scrolling #{strBiographyEN}
                if currentUser.admin_mod
                    +call_watson key='strBiographyEN'
                +comments
                .ui.button.pull_albums
                    |download albums
                .ui.cards
                    each artist_album_docs 
                        a.ui.card.fly_right.zoomer(href="/music/album/#{_id}")
                            img.ui.image(src=strAlbumThumb)
                            .content 
                                .ui.header #{strAlbum}
                                +print_this
                    
            .sixteen.wide.column
                if watson 
                    +watson_view
template(name='album_view')
    with current_album
        if strAlbumBanner
            img.ui.image.profile_banner(src=strAlbumBanner)
        .ui.stackable.padded.grid 
            .eight.wide.column.scrollin
                a.ui.fluid.button.fly_left(href='/music')
                    i.chevron.left.icon
                    +i name='music'
                    |music
                img.ui.image(src=strAlbumLogo)
                .ui.three.column.stackable.grid 
                    .column
                        img.ui.image.rounded.zoomer(src=strAlbumThumb)
                    .column
                        img.ui.image.rounded.zoomer(src=strAlbumWideThumb)
                    if strAlbumCutout
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumCutout)
                    if strAlbumClearart
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumClearart)
                    if strAlbumFanart
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumFanart)
                    if strAlbumFanart2
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumFanart2)
                    if strAlbumFanart3
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumFanart3)
                    if strAlbumFanart4
                        .column
                            img.ui.image.rounded.zoomer(src=strAlbumFanart4)
                            
                .ui.header views: #{views}
                +voting_full
                div
                +i name='tags'
                each tags 
                    a.ui.large.basic.link.label.zoomer.pick_flat_tag(title='browse tag') #{this}
                +print_this
            .eight.wide.column.scrollin
                .ui.massive.inline.header #{strAlbum}
                // "strMusicBrainzID": "c8b03190-306c-4120-bb0b-6f2ebfc06ea9",
                // "strISNIcode": null,
                // "strLastFMChart": "http://www.last.fm/music/The Weeknd/+charts?rangetype=6month",
                if strLastFMChart
                    a.ui.big.basic.button.zoomer(href=strLastFMChart target='_window' title='last fm')
                        +i name='lastfm'
                        |last fm page
                // if strFacebook
                //     a.ui.big.basic.compact.button.zoomer(href=strFacebook target='_window' title='view facebook profile')
                //         +i name='facebook'
                // if strTwitter
                //     a.ui.big.basic.compact.button.zoomer(href=strTwitter target='_window' title='view twitter page')
                //         +i name='twitter'

                // .item #{strAlbumStripped}: strAlbumStripped
                if strAlbumAlternate
                    .ui.large.basic.label alternate name: #{strAlbumAlternate}
                if strLabel
                    .ui.large.basic.label label: #{strLabel}
                // .ui.large.basic.label #{idLabel}: idLabel
                if intFormedYear
                    .ui.large.basic.label
                        i.clock.icon
                        |formed: 
                        |#{intFormedYear}-
                // if intBornYear
                //     .ui.large.basic.label born #{intBornYear}
                if intDiedYear
                    .ui.large.basic.label(title='died')
                        +i name='death'
                        | #{intDiedYear}
                if strDisbanded
                    .ui.large.basic.label disbanded #{strDisbanded}
                if strCountry
                    .ui.large.basic.label
                        +i name='marker'
                        |#{strCountry}
                .ui.large.basic.label 
                    +i name='artist'
                    |style: #{strStyle}
                a.ui.large.basic.label.zoomer.pick_genre
                    +i name='music'
                    |#{strGenre}
                a.ui.large.basic.label.zoomer.pick_mood
                    +i name='happy'
                    |mood: #{strMood}
                .ui.large.basic.label
                    a(href=strWebsite target='_window')
                        |#{strWebsite}
                .ui.large.basic.label
                    // a(href=strWebsite target='_window')
                    |#{strMusicBrainzID}
                .f7 #{strBiographyEN}
                if currentUser.admin_mod
                    +call_watson key='strBiographyEN'
                +comments
                .ui.button.pull_tracks
                    |download tracks
                .ui.cards
                    each album_track_docs 
                        .ui.card
                            img.ui.image(src=strTrackThumb)
                            .content 
                                .ui.header #{strTrack}
                                .ui.header #{strAlbum}
                                |#{strTrackLyrics}
                                +print_this
                    
            .sixteen.wide.column
                if watson 
                    +watson_view