template(name='transfers')
    .ui.stackable.padded.grid 
        .sixteen.wide.column
            .ui.inline.header 
                +i name='transfers'
                // |#{artist_docs.count} artists
            if current_search 
                i.large.red.circular.link.remove.icon.clear
            .ui.large.input 
                input.artist_search(type='text' placeholder='search artist...' value=current_search)
            +i name='database'
            each picked_models
                button.ui.blue.compact.circular.button.unpick_model(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each model_results
                button.ui.circular.compact.black.button.pick_model(tabindex="0" class=result_class title=count)
                    if is name 'artist'
                        +i name='artist'
                    else if is name 'album'
                        +i name='database'
                    |#{name}
                    // small #{count}
        .four.wide.column.scrolling
            +i name='tags'
            each picked_transfers_tags
                button.ui.blue.compact.circular.button.unpick_tag(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each transfers_tag_results
                button.ui.circular.compact.black.button.pick_tag(tabindex="0" class=result_class title=count)
                    |#{name}
                    // small #{count}

            .ui.inline.small.header
                .ui.small.inline.header
                    +i name='transfers'
                    |#{genre_results.count} genres
                each picked_genres
                    button.ui.blue.compact.circular.button.unpick_genre(tabindex='0')
                        //- i.remove.icon
                        | #{this}
                each genre_results
                    if name
                        button.ui.circular.compact.black.button.pick_genre(tabindex="0" class=result_class title=count)
                            |#{name}
                            // small #{count}
            .ui.inline.small.header
                +i name='artist'
                |#{style_results.count} styles
            each picked_styles
                button.ui.blue.compact.circular.button.unpick_style(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each style_results
                if name
                    button.ui.circular.compact.black.button.pick_style(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
            .ui.inline.small.header
                +i name='happy'
                |#{mood_results.count} moods
            each picked_moods
                button.ui.blue.compact.circular.button.unpick_mood(tabindex='0')
                    //- i.remove.icon
                    | #{this}
            each mood_results
                if name
                    button.ui.circular.compact.black.button.pick_mood(tabindex="0" class=result_class title=count)
                        |#{name}
                        // small #{count}
        .twelve.wide.column
            unless one_result
                .ui.inline.header(title='result count') #{result_docs.count}
                // +search_input key='title'
                +session_icon_button key='view_mode' value='grid' icon='grid' 
                +session_icon_button key='view_mode' value='list' icon='list'
                
                +sort_direction_toggle
                // +sort_key_toggle
                +session_set key='sort_key' value='_timestamp' label='added' icon='clock'
                +session_set key='sort_key' value='points' label='points' icon='hashtag'
                +session_set key='sort_key' value='views' label='views' icon='eye'
                +session_set key='sort_key' value='intFormedYear' label='year started' icon='calendar'
                // +session_set key='limit' value=10
                // +session_set key='limit' value=25
                // +session_set key='limit' value=100
            .ui.hidden.divider
            if subs_ready
                if session_is 'view_mode' 'grid'
                    .ui.stackable.cards.scrolling
                        if one_result
                            .ui.one.cards
                                each transfers_docs 
                                    +transfers_card
                        else
                            .ui.cards
                                each transfers_docs 
                                    +transfers_card
                else
                    .ui.large.list 
                        each transfers_docs 
                            +transfers_item
            else 
                .ui.center.aligned.basic.segment
                    i.massive.yin.yang.loading.grey.icon
            // .ui.inline.header search songs
            // .ui.input 
            //     input(type='text' placholder='song...')
            // .ui.list 
            //     each song_docs 
            //         .ui.header #{title}
            // .ui.inline.header search albums
            // .ui.input 
            //     input(type='text' placholder='album...')
            // .ui.list 
            //     each album_docs 
            //         .ui.header #{title}
